/* Global Rest and Box-Sizing Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --neutral-lt-gray: hsl(204, 43%, 93%);
  --neutral-greyish-blue: hsl(218, 22%, 67%);
}
/* Set Body defaults */
body {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  background-color: var(--neutral-lt-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Inherit fonts fonts for inputs and buttons */
input,
button,
textarea {
  font: inherit;
}

/* CLASS SELECTORS */
.container {
  max-width: 625px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  color: hsla(0, 0%, 100%, 1);
}

.box {
  padding: 40px;
}

.heading {
  grid-column: span 2;
  background-color: hsla(0, 0%, 100%, 1);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.main-heading {
  color: var(--primary-cyan);
  font-size: 1.5rem;
  letter-spacing: -0.3px;
  margin-bottom: 1.5rem;
}

.heading h2 {
  color: var(--primary-yellow);
  font-size: 1.125rem;
  letter-spacing: -0.22px;
  margin-bottom: 11px;
}

.heading p {
  color: var(--neutral-greyish-blue);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.2px;
  line-height: 26px;
}

.product-details {
  background-color: var(--primary-cyan);
  border-bottom-left-radius: 8px;
  color: hsla(0, 0%, 100%, 1);
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.22px;
}

.product-details h2 {
  font-size: 1.125rem;
  letter-spacing: -0.22px;
  margin-bottom: 18px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.pricing {
  margin-right: 11px;
  font-size: 2rem;
  letter-spacing: -0.4px;
  line-height: 37.41px;
}

.price span {
  color: rgba(255, 255, 255, 0.5);
  line-height: 26px;
}

.btn {
  margin-top: 26px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: hsla(0, 0%, 100%, 1);
  background-color: var(--primary-yellow);
  padding: 15px 0;
  line-height: 18.7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.resources {
  background-color: hsla(179, 62%, 43%, 0.851);
  border-bottom-right-radius: 8px;
  color: rgba(255, 255, 255, 0.75);
}

.resources h2 {
  color: hsla(0, 0%, 100%, 1);
  margin-bottom: 1.125rem;
}

.resources ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.resources li {
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -0.17px;
}

/* "any screen size less than 600px, apply the following styles */
@media (max-width: 600px) {
  .container {
    max-width: 311px;
    grid-template-columns: 1fr;
  }

  .heading {
    grid-column: span 1;
  }

  .product-details {
    border-bottom-left-radius: 0;
  }

  .resources {
    border-bottom-left-radius: 8px;
  }
}
